[Unit]
Description=Flannel service
Requires=network.target local-fs.target
After=network.target local-fs.target

[Service]
EnvironmentFile=-/etc/default/flanneld
ExecStart=/opt/bin/flanneld $FLANNEL_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
